.card__trash-button {
  background-image: url(../../../images/buttons/trash-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  min-width: 18px;
  min-height: 19px;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.card__trash-button:hover {
  opacity: 0.6;
}
